<div{{ attributes.addClass('banner') }}>
  {% if content.field_banner_image %}
    {{ content.field_banner_image }}
  {% endif %}
  <div class="banner-content">
    <div class="banner-content-inner">
    {% for key, value in content %}
      {% set prefix = '' %}
      {% set suffix = '' %}
      {% if key != 'field_banner_image' and key != 'field_banner_link' %}
        {% if key == 'name' and content.field_banner_link|render %}
          {% set prefix = prefix ~ '<a href="' ~ content.field_banner_link[0]['#plain_text'] ~ '" class="banner-link">' %}
          {% set suffix = '</a>' %}
        {% endif %}
        {{ prefix|raw }}{{ value }}{{ suffix|raw }}
      {% endif %}
    {% endfor %}
    </div>
  </div>
</div>